{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT</title>
</head>
<body>
    <h1>Front Index</h1>
    {% block content %}

    {# Nota: Aquí irá el contenido que se extienda la base #}
    
    {% endblock content %}
</body>
</html>