{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Testeo de JWT</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'front/css/style.css' %}" />
  </head>
  <body
    class="img js-fullheight"
    style="background-image: url({%static 'front/images/bg.jpg' %})"
  >
    <section class="">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="heading-section">Testeo de JWT</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h3 class="mb-4 text-center">Ingrese credenciales</h3>
              <form onsubmit="event.preventDefault()" class="signin-form">
                <div class="form-group">
                  <input
                    id="username-field"
                    name="username-field"
                    type="text"
                    class="form-control"
                    placeholder="Usuario"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="password-field"
                    name="password-field"
                    type="password"
                    class="form-control"
                    placeholder="Contraseña"
                    required
                  />
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <p id="invalid" class="w-100 text-center text-danger bg-dark d-none">Error, credenciales inválidas</p>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                    onclick="requestToken()"
                  >
                    Ingresar
                  </button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary"
                      >Recordarme
                      <input type="checkbox" checked />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="w-50 text-md-right">
                    <a href="#" style="color: #fff">Olvidé la contraseña</a>
                  </div>
                </div>
              </form>
              <p class="w-100 text-center">&mdash; Contenido Protegido &mdash;</p>
              <div class="social text-center">
                <a id="btnContenidoProtegido" class="px-2 py-2 mr-md-1 rounded" onclick="accederAlContenidoProtegido()"
                  >Acceder al contenido protegido</a
                >
                <br>
                <a id="btnRenovarToken" class="px-2 py-2 ml-md-1 rounded" onclick="renovarToken()"
                  >Refrescar el token </a
                >
              </div>
              <p class="w-100 text-center">&mdash; JWT &mdash;</p>
              <div class="social text-center">
                <p id="token"
                  >Token: ...</p
                >
                <p id="refresh"
                  >Refresh: ...</p
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'front/js/jquery.min.js' %}"></script>
    <script src="{% static 'front/js/popper.js' %}"></script>
    <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/main.js' %}"></script>
    <script src="{% static 'front/js/jwt.js' %}"></script>
  </body>
</html>
